/* reset code*/
/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
}

body {
  line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
  display:block;
}

nav ul {
  list-style:none;
}

blockquote, q {
  quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content:'';
  content:none;
}

a {
  margin:0;
  padding:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
}

/* change colours to suit your needs */
ins {
  background-color:#ff9;
  color:#000;
  text-decoration:none;
}

/* change colours to suit your needs */
mark {
  background-color:#ff9;
  color:#000;
  font-style:italic;
  font-weight:bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom:1px dotted;
  cursor:help;
}

table {
  border-collapse:collapse;
  border-spacing:0;
}

/* change border colour to suit your needs */
hr {
  display:block;
  height:1px;
  border:0;
  border-top:1px solid #cccccc;
  margin:1em 0;
  padding:0;
}

input, select {
  vertical-align:middle;
}

/* ################################################*/
/* personal css code starts here*/
/* ################################################*/

	body /*cookie background*/
	{
		/* background-image: url("Cookies.jpg");	*/
		text-align: center;
	}
	
	p
	{
		margin-top:    10px;	
		margin-bottom: 10px;
		display:block;
	}

	table
	{
		margin-top:    10px;	
		margin-bottom: 10px;
		width:100%;
		border: 0;
	}

	td
	{
		vertical-align: top;
		text-align: right;
	}
	.line 
	{
		margin-top:	   10px;	
		margin-bottom: 10px;
		display: block;
	}
	.test /*padding for text*/
	{
		margin-top:	   10px;	
		margin-bottom: 10px;
	}
	
	.gender /*gender text padding*/ 
	{
		margin-top:    10px;	
		margin-bottom: 10px;	
	}
	

	input[type=text] /*main form fields*/ 
	/*also the text inside the input box*/
	{
		max-width: 300px;
		width: 50%;
		padding: 12px 20px;
		display:inline-block;
	}

	input[type=password] /*password*/ 
	{
		max-width: 300px;
		width: 50%;
		padding: 12px 20px;
		display:inline-block;
	}
	
	input[type=submit] /*submit button*/ 
	{
		max-width: 100%;
		padding: 12px 20px;
		word-wrap: break-word;

	}
	
	.outline /*the back plate for the text*/
	{
		width: 50%;
		margin: 0 auto;
		padding-top:	20px;	
		padding-bottom: 20px;
		padding-right:  20px;
		padding-left: 	20px;
		/* add transparency to box*/
		background-color: white;
		background: rgba(192,192,192,0.3); 
		border-style: solid;
		border-width: 5px;
	}
	.toutline /*the back plate for the text*/
	{
		margin-top: 	10px;
		margin-left: 	10px;
		margin-right: 	10px;
		padding-top:	0px;	
		padding-bottom: 0px;
		padding-right:  10px;
		padding-left: 	10px;
		/* add transparency to box*/
		background-color: white;
		background: rgba(255, 255, 255, 1); 
	}
  
	@media only screen and (max-width: 800px) 
	{
		input[type=text] /*main form fields*/ 
		/*also the text inside the input box*/
		/*shrink text down and enlarge the input boxes*/
		{
			font-size: 80%;
			max-width: 600px;
			width: 70%;
			padding: 12px 20px;
			display:inline-block;
		}

		input[type=password] /*password*/ 
		{
			font-size: 80%;
			max-width: 600px;
			width: 70%;
			padding: 12px 20px;
			display:inline-block;
		}
		
		input[type=submit] /*submit button*/ 
		{
			font-size: 80%;
			max-width: 100%;
			padding: 12px 20px;
			word-wrap: break-word;

		}
	}
	
		@media only screen and (max-width: 400px) 
	{
		input[type=text] /*main form fields*/ 
		/*also the text inside the input box*/
		/*shrink text down and enlarge the input boxes EVEN further*/
		{
			font-size: 70%;
			max-width: 400px;
			width: 50%;
			padding: 12px 20px;
			display:inline-block;
		}

		input[type=password] /*main form fields*/ 
		/*also the text inside the input box*/
		/*shrink text down and enlarge the input boxes EVEN further*/
		{
			font-size: 70%;
			max-width: 400px;
			width: 50%;
			padding: 12px 20px;
			display:inline-block;
		}
		input[type=submit] /*submit button*/ 
		{
			font-size: 70%;
			max-width: 100%;
			padding: 12px 20px;
			word-wrap: break-word;

		}
	}
